//- includes/project.pug
a.project(href=project.link, class=project.class || '')
  div.project__image-container
    img.project__image(src=project.image)
  div.project__info
    p.project__title.text--medium #{project.title}
  if project.desc
    p.project__desc.text--small #{project.desc}