//- index.pug
doctype html
html
  include includes/head.pug
  body
    nav
      .nav__content
        a.nav__title.text--large(href="#intro")  Daniel Hearn
        div.nav__links
          a.text--small.active(href="#work") work
          a.text--small(href="#about") about
    main
      #content
        section.container.intro#intro
          h1.text--medium
            | Hi, I'm Dan—a student at the University of Portsmouth with a 
            | year of industry experience. Currently looking for a graduate 
            | job. 
            a.link(href=links.email) Feel free to get in touch!
        section.container.placement
          h3.text--large My Placement at Fresh Relevance
          p.text--small
            | During placement at Fresh Relevance, I was responsible for 
            | integrating Fresh Relevance's system with their 
            | client's e-commerce sites. Additionally, I developed React-based 
            | user interfaces and improved the processing of data in the back-end.
        section.container.projects#work
          h3.text--large Projects
          section.grid.grid--2
            each project in projects
              include includes/project.pug
        section.container.about.grid--2-1#about
          .about__content
            h3.text--large About Me
            p.text--small
              | I write code on 
              a.link(href=links.codepen) Codepen
              | , host my source code on 
              a.link(href=links.github) Github
              | , and present my designs on 
              a.link(href=links.behance) Behance
              |  and 
              a.link(href=links.dribble) Dribble
              | . 
            p.text--small
              | I'm proficient in Javascript (ES6, ES7), Vue.js, HTML (Pug), and CSS3 (SASS),
              | while using Webpack, Gulp, Git, and Experience Design to enhance my workflow. 
            p.text--small
              | Additionally, I have experience with Python, Node, React, and Django, as well as working knowledge of Java and SQL.
          .side-project__content
            h3.text--large Side Projects
            each project in side_projects
              a.text--small.link(href=project.link) #{project.title}
        section.container.footer
          a.text--small(href=links.codepen) Codepen
          a.text--small(href=links.github) Github
          a.text--small(href=links.behance) Behance
          a.text--small(href=links.dribble) Dribble
          a.text--small(href=links.email) Email
  include includes/footer.pug