//- index.pug
doctype html
html
  include includes/head.pug
  body
    nav#intro
      .nav__content
        a.nav__title.nav__title--desktop.text--large(href="#intro")  Daniel Hearn
        a.nav__title.nav__title--mobile.text--large(href="#intro")  Dan Hearn
        div.nav__links
          a.text--small(href="#work") work
          a.text--small(href="#about") about
          a.text--small(href="/blog/") blog
    main
      section.container.intro
        h1.text--medium
          | Hi, I'm Dan—a Senior Frontend Developer at 
          a.link(href=links.freshrelevance) Fresh Relevance.
      #content
        section.container.experience
          h3.text--large.heading Senior Frontend Developer at Fresh Relevance
          h2.text--medium.sub-heading July 2020 - Current
          p.text--small
            | At Fresh Relevance I develop user interfaces with
            | React, Redux, and TypeScript. Including being responsible for projects, working on larger connected feature sets,
            | maintaining existing features, along with solving and implementing high-priority changes and fixes. 
          p.text--small
            | Examples of projects include: 
            a.link(href=links.testing) Testing & Optimization UI
            | , 
            a.link(href=links.siteInfoBar) Site Info Bar
            | , 
            a.link(href=links.smartblockBuilder) SmartBlock Builder
            | , 
            a.link(href=links.itemLevelReporting) Item Level Reporting
            | , Top Level Reporting, Product Management.
          p.text--small
            | I also assist the client scripting team by owning time critical customer facing issues and
            | teaching the current year's placement students. Additionally I implement backend changes in Python and Node where my knowledge is needed.
        section.container.experience
          h3.text--large.heading Placement at Fresh Relevance
          h2.text--medium.sub-heading July 2018 - May 2019
          p.text--small
            | I was responsible for integrating Fresh Relevance's system with their 
            | client's e-commerce sites. Additionally, I developed React-based 
            | user interfaces and improved the processing of user data in the backend.
        section.container.experience
          h3.text--large.heading University of Portsmouth
          h2.text--medium.sub-heading Sept 2016 - May 2020
          p.text--small
            | I recieved a First in BSc Computer Science along with the British Computer Society Prize 
            | for Best Final Year Student.
          p.text--small
            | As my final year project I built a internet-of-things
            | climate monitoring system with a web-app allowing users to view 
            | recorded statistics about the local climates around them. This used hardware including Raspberry Pi, microcontrollers, radio modules, sensors and batteries. With the web-app and backend built with Vue, Python (Flask), SQLite.
        section.container.projects#work
          h3.text--large Projects
          section.grid.grid--2
            each project in projects
              include includes/project.pug
        section.container.about.grid.grid--3#about
          .about__content.grid-item--col-1-3
            h3.text--large About Me
            p.text--small
              | I write code on 
              a.link(href=links.codepen) Codepen
              | , host my source code on 
              a.link(href=links.github) Github
              | , and showcase my designs on 
              a.link(href=links.behance) Behance
              |  and 
              a.link(href=links.dribble) Dribble
              | . 
            p.text--small
              | I'm proficient in Javascript (Typescript, Flow), React, Vue, HTML (Pug), and CSS3 (SASS, LESS),
              | while using Webpack, Gulp, Git, in my workflow. 
              | Additionally, I have experience with Python (Django, Flask), Node, along with working knowledge of Java, SQL and MongoDB.
            p.text--small
              | Outside of tech, I like to cook, bake, cycle, run and play board games. I also occasionally do 3D modelling with Blender.
            p.text--small
              | I write board game reviews and opinion on 
              a.text--small.link(href="/blog/") my blog
              | . That I built with Gatsby and my custom built theme.
          .side-project__content
            h3.text--large Side Projects
            each project in side_projects
              a.text--small.link(href=project.link) #{project.title}
            h3.text--large Old Projects
            each project in old_projects
              a.text--small.link(href=project.link) #{project.title}
        section.container.projects#models
          h3.text--large 3D Models
          section.grid.grid--3
            each project in models
              include includes/project.pug
      section.container.footer
        div
          a.text--small(href=links.codepen) Codepen
          a.text--small(href=links.github) Github
          a.text--small(href=links.behance) Behance
          a.text--small(href=links.dribble) Dribble
          a.text--small(href=links.email) Email
          a.text--small(href=links.blog) Blog
  include includes/footer.pug