//- index.pug
doctype html
html
  include includes/head.pug
  body
    main
      section#content
        section#title.container
          h1 Daniel Hearn
          h2.uni Computer Science undergraduate at the University of portsmouth with a year of industry experience.
        section.container
          h3 I experiment with the web
          p
            | I experiment with code on 
            a.text_link(href=links.codepen) Codepen
            | , the source code for all my projects are on 
            a.text_link(href=links.github) Github
            |  with their designs on 
            a.text_link(href=links.behance) Behance
            |  and 
            a.text_link(href=links.dribble) Dribble
            | . 
          p
            | I'm proficient in HTML5 (Pug), CSS3 (SCSS), Javascript (ES6, ES7), Vue.js,
            | while using Experience Design, Webpack, Gulp, and Git to enhance my workflow. 
          p
            | I also have experience with Python, Node, React, and Django, as well as working knowledge of Java, and SQL.
        section.container
          h3 A year of industry experience
          p
            | During my year long placement at 
            a.text_link(href=links.freshrelevance) Fresh Relevance
            | , I was responsible for integrating Fresh Relevance's system with their client's e-commerce sites. 
            | I also took on additional roles to improve the processing of data in the back-end and developing React based user interfaces on the front-end.
        section#contact.container
          h3 Feel free to contact me
          p While I'm not currently open for freelance projects, feel free to #[a.text_link(href=links.email) email me] about graduate jobs or if you just to talk about web development. My CV is also available on request.
        section.projects.container
          h3.projects_title Check out my projects
          //p Here is a selection of my best open-source, personal, and commercial projects.
          section.projects_grid
            each project in projects
              include includes/project.pug
          section.projects.container
            h3.projects_title My Side Projects
            //p Here are my best side projects and codepens.
            section.projects_grid
              each project in side_projects
                include includes/project.pug
        section.container.footer
          a.text_link(href=links.codepen) Codepen
          a.text_link(href=links.github) Github
          a.text_link(href=links.behance) Behance
          a.text_link(href=links.dribble) Dribble
          a.text_link(href=links.email) Email